<mat-toolbar id="toolbar" color="primary">
    <span>Member_Manage_System</span>
    <div>    
        <a mat-button >
            <mat-icon>add</mat-icon>
            <span class="toolbar-button">Sign up</span>
        </a>
        <a mat-button >
            <mat-icon>login</mat-icon>
            <span class="toolbar-button">Log in</span>
        </a>
        <a mat-button >
            <mat-icon>account_circle</mat-icon>
            <span class="toolbar-button">Members</span>
        </a>
    </div>
    
</mat-toolbar>
