/* HeroDetailComponent's private CSS styles */
label {
    color: #435960;
    font-weight: bold;
}
input {
    font-size: 1em;
    padding: .5rem;
}
#function{
    display: flex;
    justify-content: flex-end;
}
button {
    margin: 10px 20px;
    background-color: indigo;
    color: #fff;
    border: solid black 2px;
    padding: 0.7rem;
    border-radius: 8px;
    font-size: 1rem;
}
button:hover {
    background-color: #cfd8dc;
    color: indigo;
}
button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
}
#member-detail{
    border: solid black 4px;
    border-radius: 8px;
    padding: 1em;
    margin: 3em;
}